body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 15px;
  margin-bottom: 3px;
}

.title > a {
  color: #000;
  text-decoration: none;
}

.title > a:visited {
  color: #828282;
}

.meta {
  font-size: 12px;
}
.source {
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
}

.source a,
.meta a {
  color: #828282;
  text-decoration: none;
}

.source a:hover,
.meta a:hover {
  text-decoration: underline;
}
