.nav-ul {
  list-style-type: none;
}

.nav-ul li {
  display: inline-block;
}

.nav-ul li a {
  display: inline-block;
  font-size: 10pt;
  text-decoration: none;
  color: #000;
}

.nav-ul li a:hover {
  color: #fff;
}
